div.cost{
	float:left;
}
div.mslist{
	float:left;
}
div.cost-outer{
	padding-bottom:10px;
}
.clearfix:after {  
	content: ".";   
	display: block;   
	height: 0;   
	clear: both;   
	visibility: hidden;  
}
div#selectedms{
	font-size:1.4em;
	font-weight:bold;
}
.clearfix { display: inline-table; }  
/* Hides from IE-mac \*/  
* html .clearfix { height: 1%; }  
.clearfix { display: block; }  
/* End hide from IE-mac */  